RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*)$ $1.php [QSA,NC,L]
ErrorDocument 500 http://localuzordabs.io/500
ErrorDocument 404 http://localuzordabs.io/404