
body,
html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.menu {
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    border-radius: 100%;
    right: 14px;
    top: 11px;
    z-index: 2;
}

.menu-logo {
    position: fixed;
    pointer-events: none;
    width: 36px;
    -webkit-transition: .6s;
    transition: .6s;
    left: 11px;
    top: 36px;
    transform: translate3d(50%, -50%, 0);
    transform-origin: center center;
    z-index: 1;
}

.menu-bg {
    @extend .menu;
    background: #F6CD01;
    pointer-events: none;
    transition: .6s;
    right: 39px;
    top: 36px;
    transform: translate3d(50%, -50%, 0);
    transform-origin: center center;

    &.fs {
        transform: translate3d(50%, -50%, 0);
        width: 600vw;
        height: 600vw;
	}
	
	&.menu-logo {
		display: none;
	}
}

.menu-burger {
    @extend .menu;
    color: white;
    // padding-top: 11px;
    -webkit-user-select: none;
    cursor: pointer;
    transition: .4s;
    transform-origin: center;

    &.fs {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}

.menu-items {
    position: fixed;
    font-weight: bold;
    // font-size: 40px;
    // letter-spacing: 10px;
    color: white;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: .4s;
    // margin-top: 100px;
    transform: translateY(-200%);
    pointer-events: none;
    margin-top: 40%;

    div {
        transition: 1s;
        opacity: 0;
        margin-top: 0px;
    }

    &.fs {
        transform: translateY(0);
        pointer-events: auto;
        opacity: 1;
        z-index: 2;

        div {
            opacity: 1;
			margin-top: 40px;
		}
		
		&a {
			color: #fff;
		}
    }
}

.content {
    padding: 100px 50px;
    line-height: 1.62em;
    color: #444;

    h1 {
        font-weight: bold;
        font-size: 2em;
        margin-bottom: 1em;
    }
}

.menu-items a {
	color: #fff;
    font-weight: 400;
}
