/* On screens that are 415px wide or less*/
@media screen and (max-width: 415px) {
    .display-4 {
        font-size: 1.2rem;
    }

    .about .display-4 {
        font-size: 1.3rem;
    }

    #logo {
        width: 27px !important;
    }

    .hero-graphic-img {
        width: 90% !important;
    }

    .splash p {
        font-size: 15px;
    }
}


@media (max-width: 991.98px) {
    .offcanvas-collapse {
        background-color: #ffffff;
    }

    .navbar-main {
        padding-left: 1.8rem;
        padding-right: 1.8rem;
        min-height: 69px;
    }
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .splash {
        padding: 5rem 0rem 2rem 0rem;
    }

    .social-connects img {
        min-width: 24px;
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    .menu-items {
        top: -15%;
        left: 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    /* SCROLL BAR */
    body::-webkit-scrollbar {
        width: 6px;
        /* width of the entire scrollbar */
    }

    body::-webkit-scrollbar-track {
        background: #01707100;
        /* color of the tracking area */
    }

    body::-webkit-scrollbar-thumb {
        background-color: rgb(71 187 171);
        /* color of the scroll thumb */
        margin-right: 1px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}